   /* || FONTS HOSTING */
@font-face {
   font-family: "Roboto";
   font-weight: 100;
   src: url("../asset/fonts/roboto-thin-webfont.woff2") format("woff2"),
        url("../asset/fonts/roboto-thin-webfont.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   font-weight: 500;
   src: url("../asset/fonts/roboto-medium-webfont.woff2") format("woff2"),
        url("../asset/fonts/roboto-medium-webfont.woff") format("woff");
   font-display: swap;
}



      /* || CUSTOM PROPERTIES/VARIABLES */
   /* light mode */
:root.lightmode {
   --html-bgcolor: rgb(0, 0, 0);
   --page-bgcolor: rgb(255, 255, 255);
   --themeSwitch-bgcolor: var(--page-bgcolor);
   --topCaption-bgcolor: rgba(0, 0, 0, 0.25);
   --topCaption-color: rgb(255, 255, 255);
   --btmCaption-color: rgba(255, 255, 255, 0.5);
   --form-bgcolor: rgba(161, 56, 128, 0.1);
   --form-color: rgb(0, 0, 0);
   --formMiddle-bgcolor: rgb(255, 255, 255);
   --formMiddle-color: rgb(0, 0, 0);
   --formInput-bgcolor: rgb(255, 255, 255);
   --formInput-color: rgb(0, 0, 0);
   --formLabel-color: rgb(0, 0, 0);
   --boxShadow-color: rgba(0, 0, 0, 0.5);
   --inputOutline-color: rgb(65, 105, 225);
   --validOutline-color: rgb(0, 255, 0);
   --placeholder-color: rgba(128, 128, 128, 0.4);
   --passwordRule-color: rgb(128, 128, 128);
   --checkbox-color: rgb(161, 56, 128);
   --checkboxLabel-color: var(--boxShadow-color);
   --button-color: rgb(255, 255, 255);
   --animeBordLeft-color: var(--passwordRule-color);
   --anime-bgcolor: var(--formMiddle-bgcolor);
}

   /* dark mode */
:root.darkmode {
   --html-bgcolor: rgb(0, 0, 0);
   --page-bgcolor: rgb(18, 18, 18);
   --themeSwitch-bgcolor: var(--formMiddle-bgcolor);
   --topCaption-bgcolor: rgba(0, 0, 0, 0.25);
   --topCaption-color: rgb(255, 255, 255);
   --btmCaption-color: rgba(255, 255, 255, 0.5);
   --form-bgcolor: rgb(35, 35, 35);
   --form-color: rgb(240, 248, 255);
   --formMiddle-bgcolor: rgb(51, 51, 51);
   --formMiddle-color: rgb(255, 255, 255);
   --formInput-bgcolor: rgb(0, 0, 0);
   --formInput-color: rgb(255, 255, 255);
   --formLabel-color: rgb(197, 186, 186);
   --boxShadow-color: rgba(0,0,0,0.5);
   --inputOutline-color: rgb(65, 105, 225);
   --validOutline-color: rgb(0, 255, 0);
   --placeholder-color: rgba(128, 128, 128, 0.4);
   --passwordRule-color: rgb(128, 128, 128);
   --checkbox-color: rgb(161, 56, 128);
   --checkboxLabel-color: var(--formLabel-color);
   --button-color: rgb(255, 255, 255);
   --animeBordLeft-color: var(--passwordRule-color);
   --anime-bgcolor: var(--formMiddle-bgcolor);
}
 


   /* || RESET */
*,
::before,
::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
   line-height: 1.3;
}

body {
   -webkit-font-smoothing: antialiased;
}

img {
   display: block;
   max-width: 100%;
}

   /* This style could be applied to the universal selector(*) but it's here for clarity */
input, button,
p, h1, h2 {
   font: inherit;                
}

ol[role="list"], ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

p, h1, h2 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
   max-width: 65ch;
}

h1, h2 {
   text-wrap: balance;
}

#root, #__next {
   isolation: isolate;
}



   /* || GENERAL STYLES */
html {
   background-color: var(--html-bgcolor);
}

body {
   font-family: "Roboto", serif;
   font-weight: 500;
   font-size: 1.6rem;
}

.page {
   display: flex;
   margin: 0 17.5%;
   background-color: var(--page-bgcolor);
}

.page__image-container {
   flex: 3 0 37.5%;
   position: relative;
}

.page__image {
   max-height: 100vh;
}

.page__image-caption {
   text-align: center;
}

.page__image-caption--top,
.page__image-caption--bottom {
   position: absolute;
   left: 0;
   right: 0;
}

.page__image-caption--top {
   top: 8rem;
   color: var(--topCaption-color);
   background-color: var(--topCaption-bgcolor);
   font-size: 4rem;
   font-weight: 100;
   padding: 1rem 0;
}

.page__image-caption--top img {
   display: inline;
   width: 1em;
   height: 1em;
   vertical-align: middle;
   transform: rotate(45deg);
}

.page__image-caption--top span {
   margin-left: -1rem;
}

.page__image-caption--bottom {
   bottom: 1rem;
   font-size: 0.9rem;
   font-weight: 100;
   color: var(--btmCaption-color);
}

.page__image-caption--bottom a:any-link {
   color: var(--btmCaption-color);
}

.page__form--main {
   flex: 5 0 62.5%;
   background-color: var(--form-bgcolor);
   color: var(--form-color);
}

.form__top-section,
.form__middle-section,
.form__bottom-section {
   padding: 0 3rem;
}

.form__top-section {
   padding-top: 5rem;
   padding-bottom: 2rem;
   position: relative;
}

.form__theme-switch {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   border: none;
   background-color: var(--themeSwitch-bgcolor);
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 1rem;
   right: 3rem;
}

.form__top-section img {
   display: inline;
}

.lightmode .form__theme-switch img:last-child {
   display: none;
}

.darkmode .form__theme-switch img:last-child {
   display: inline;
}

.darkmode .form__theme-switch img:first-child {
   display: none;
}

.form__title {
   font-size: 2.4rem;
   margin-bottom: 1.5rem;
}

.form__message:first-of-type {
   margin-bottom: 1rem;
}

.form__middle-section {
   font-weight: 500;
   font-size: 1.4rem;
   background-color: var(--formMiddle-bgcolor);
   color: var(--formMiddle-color);
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: 0 5px 10px 0 var(--boxShadow-color);
}

.form__subtitle {
   font-weight: 500;
   font-size: 1.6rem;
}

label:not(label:last-child) {
   text-transform: uppercase;
}

.form__input-container:is(:nth-child(5), :nth-child(6)) {
   position: relative;
}

.form__input-container :is(label, input) {
   display: block;
}

.form__input-fields--type {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.form__input-fields--type label {
   font-size: 1rem;
   color: var(--formLabel-color);
}

.form__input-fields--type input {
   margin-bottom: 1rem;
   padding: 0.2rem 1rem;
   border: 1px solid var(--topCaption-bgcolor);
   border-radius: 0.4rem;
   background-color: var(--formInput-bgcolor);
   color: var(--formInput-color);
   width: 80%;
}

.form__input-fields--type input[type="text"]:not(:placeholder-shown):valid {
   outline-color: var(--validOutline-color);
}

.form__input-fields--type input:focus {
   border: none;
   outline: 2px solid var(--inputOutline-color);
   box-shadow: 0 5px 3px 0 var(--boxShadow-color);
}

.form__input-fields--type input::placeholder {
   color: var(--placeholder-color);
}

.form__input-container--forPassword img,
.form__input-container--forPasswordConf img {
   display: inline;
   position: absolute;
   top: 28%;
   right: 22%;
   width: 1.2em;
   height: 1.2em;
}

.password-invisible span:nth-of-type(2) {
   display: none;
}

.password-visible span:nth-of-type(1) {
   display: none;
}

.password_rules,
.password_confirmation_rule {
   margin-top: -0.5rem;
   visibility: hidden;
}

.password_rules {
   height: 1.6rem;
   line-height: 1.6rem; /* Keeps the rules in a fixed position */
   overflow: hidden;
}

.password_rules li {
   list-style: none;
   position: relative;
   top: 0;
   animation: slide 15s steps(5) infinite;
}

@keyframes slide {
   100% {
      top: -8rem; /* 1.6rem * 5(steps) */
   }
}

.password_rules span,
.password_confirmation_rule {
  font-size: 1.2rem;
  color: var(--passwordRule-color);
}

.password_rules span {
  display: block;
  position: relative;
}

.password_rules span::after {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: var(--anime-bgcolor);
   left: 0;
   border-left: 2px solid var(--animeBordLeft-color);
   animation: textTyping 3s steps(31) infinite;
}

@keyframes textTyping {
   40%, 60% {
      left: 70%;
   }
   
   100% {
      left: 0;
   }
}

.password_confirmation_rule {
   height: 1.6rem; /* Matches the fixed position for password_rules */
}

.form__input-fields--action label {
   font-size: 1.4rem;
}

.form__checkbox-container span {
   color: var(--checkboxLabel-color);
}

.form__input-fields--action input {
   accent-color: var(--checkbox-color);
}

.form__bottom-section {
   font-size: 1.2rem;
   padding-top: 2rem;
}

.form__button {
   background-color: var(--checkbox-color);
   color: var(--button-color);
   border: none;
   border-radius: 0.5rem;
   padding: 0.8rem 3rem;
   margin-bottom: 2rem;
}

.form__button:hover {
   cursor: pointer;
}

.form__login-link:any-link {
   color: var(--checkbox-color);
   text-decoration: none;
}