
@font-face {
   font-family: "Roboto";
   font-weight: 100;
   src: url("../asset/fonts/roboto-thin-webfont.woff2") format("woff2"),
        url("../asset/fonts/roboto-thin-webfont.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   font-weight: 400;
   src: url("../asset/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("../asset/fonts/roboto-regular-webfont.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   font-weight: 700;
   src: url("../asset/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("../asset/fonts/roboto-bold-webfont.woff") format("woff");
   font-display: swap;
}
 


   /* || RESET */
*,
::before,
::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
   line-height: 1.3;
}

body {
   -webkit-font-smoothing: antialiased;
}

img {
   display: block;
   max-width: 100%;
}

   /* This style could be applied to the universal selector(*) but it's here for clarity */
input, button, textarea, select,
p, h1, h2, h3, h4, h5, h6 {
   font: inherit;                
}

ol[role="list"], ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

p, h1, h2 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
   max-width: 65ch;
}

h1, h2 {
   text-wrap: balance;
}

#root, #__next {
   isolation: isolate;
}


   /* || GENERAL STYLES */
html {
   background-color: black;
}

body {
   font-family: "Roboto", serif;
   font-weight: 700;
   font-size: 1.6rem;
}

.page {
   display: flex;
   margin: 0 17.5%;
   background-color: white;
}

.page__image-container {
   flex: 3 0 37.5%;
   position: relative;
   /* display: flex; */
}

.page__image {
   max-height: 100vh;
}

.page__image-caption {
   text-align: center;
}

.page__image-caption--top,
.page__image-caption--bottom {
   position: absolute;
   left: 0;
   right: 0;
}

.page__image-caption--top {
   top: 8rem;
   color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0.25);
   font-size: 4rem;
   font-weight: 100;
   padding: 1rem 0;
}

.page__image-caption--top img {
   display: inline;
   width: 1em;
   height: 1em;
   vertical-align: middle;
   /* transform: rotate(45deg); */
}

.page__image-caption--bottom {
   bottom: 1rem;
   font-size: 0.9rem;
   font-weight: 100;
   color: rgba(255, 255, 255, 0.6);
}

.page__image-caption--bottom a:any-link {
   color: rgba(255, 255, 255, 0.6);
}

.page__form {
   flex: 5 0 62.5%;
}

.form__top-section,
.form__middle-section,
.form__bottom-section {
   padding: 5rem 3rem;
}

.form__top-section,
.form__bottom-section {
   background-color: rgba(255, 192, 203, 0.5);
}

.form__top-section {
   padding-bottom: 2rem;
}

.form__title {
   font-size: 2.4rem;
   margin-bottom: 1.5rem;
}

.form__message:first-of-type {
   margin-bottom: 1rem;
}

.form__middle-section {
   font-weight: 400;
   /* font-size: 1.4rem; */
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.form__subtitle {
   font-weight: 700;
}

label:not(label:last-child) {
   text-transform: uppercase;
}

.form__input-container :is(label, input),
.form__select-container :is(label, input) {
   display: block;
   /* justify-self: flex-start; */
}

.form__input-fields--type {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.form__input-fields--type input {
   margin-bottom: 1rem;
}

.form__input-fields--type label {
   font-size: 1rem;
}

.form__input-fields--action {
   margin-top: -2rem;
}

.form__select-container label {
   font-size: 1rem;
}

.form__select-container select {
   width: 100%;
   margin-bottom: 1rem;
}

.form__bottom-section {
   padding-top: 2rem;
}